{
  "openapi": "3.1.0",
  "info": {
    "title": "Zenoa Sovereign Developer & Omnichannel AI API",
    "version": "2.5.0",
    "description": "Production REST API & AI SDK for Zenoa Messenger and Business Suite by Inolas Nexus. Supports Carrier-Grade OTP Verification, Direct Bot Messaging, Autonomous Business AI Concierge, and Storefront Live Chat integrations.",
    "contact": {
      "name": "Zenoa Developer Operations",
      "url": "https://zenoa.in/developer",
      "email": "support@zenoa.in"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://zenoa.in",
      "description": "Production Live Server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Sandbox & Local Development Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API_KEY",
        "description": "Unified API Key passed as Authorization: Bearer <ZENOA_API_KEY>"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Zenoa-Api-Key",
        "description": "Unified API Key passed as X-Zenoa-Api-Key: <ZENOA_API_KEY>"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "error": { "type": "string", "example": "UNAUTHORIZED" },
          "message": { "type": "string", "example": "Invalid or missing ZENOA_API_KEY in Authorization header." },
          "status": { "type": "integer", "example": 401 }
        }
      }
    }
  },
  "security": [
    { "BearerAuth": [] },
    { "ApiKeyAuth": [] }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "System Health Check",
        "description": "Returns operational uptime, active latency SLA, and API gateway health status.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy and responding",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ready" },
                    "version": { "type": "string", "example": "2.5.0" },
                    "environment": { "type": "string", "example": "production" },
                    "latency_sla": { "type": "string", "example": "< 400ms" },
                    "uptime_sla": { "type": "string", "example": "99.99%" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/otp/send": {
      "post": {
        "summary": "Dispatch Carrier OTP",
        "description": "Dispatches a cryptographic one-time passcode to recipient phone number or Zenoa handle in sub-second latency.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["recipient"],
                "properties": {
                  "recipient": { "type": "string", "description": "Target mobile number (e.g. '+919876543210') or Zenoa @handle", "example": "+919876543210" },
                  "template_type": { "type": "string", "enum": ["standard_otp", "2fa_auth", "password_reset", "transaction_auth"], "default": "standard_otp" },
                  "custom_code": { "type": "string", "description": "Optional custom 4-6 digit numeric passcode", "example": "482910" },
                  "expiry_mins": { "type": "integer", "default": 10, "example": 10 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP generated and dispatched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "request_id": { "type": "string", "example": "req_otp_89f2a7b1c3" },
                    "recipient": { "type": "string", "example": "+919876543210" },
                    "expiry_mins": { "type": "integer", "example": 10 },
                    "status": { "type": "string", "example": "dispatched" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/schemas/ErrorResponse" }
        }
      }
    },
    "/api/v1/otp/verify": {
      "post": {
        "summary": "Verify OTP Passcode",
        "description": "Cryptographically validates user-entered OTP passcode against active delivery ledger.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["recipient", "code"],
                "properties": {
                  "recipient": { "type": "string", "example": "+919876543210" },
                  "code": { "type": "string", "example": "482910" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "verified": { "type": "boolean", "example": true },
                    "recipient": { "type": "string", "example": "+919876543210" },
                    "message": { "type": "string", "example": "Passcode verified successfully." }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired passcode",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "verified": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "INVALID_CODE" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/send": {
      "post": {
        "summary": "Send Bot Message",
        "description": "Dispatches direct bot notifications or rich markdown cards to user inboxes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["recipient", "message"],
                "properties": {
                  "recipient": { "type": "string", "example": "@customer_handle" },
                  "message": { "type": "string", "example": "**Order #ORD-88219 has shipped!**\\nCarrier: FedEx Priority" },
                  "media_url": { "type": "string", "example": "https://example.com/receipt.png" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message dispatched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message_id": { "type": "string", "example": "msg_9847192847" },
                    "recipient": { "type": "string", "example": "@customer_handle" },
                    "status": { "type": "string", "example": "delivered" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/business/chat": {
      "post": {
        "summary": "Autonomous AI Business Concierge",
        "description": "Processes customer storefront inquiries using autonomous AI reasoning with order and cart context.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["session_id", "message"],
                "properties": {
                  "session_id": { "type": "string", "example": "cust_sess_98210" },
                  "message": { "type": "string", "example": "Where is my order #ORD-88219?" },
                  "customer_context": {
                    "type": "object",
                    "properties": {
                      "customer_name": { "type": "string", "example": "Rohit Verma" },
                      "order_id": { "type": "string", "example": "#ORD-88219" },
                      "cart_value": { "type": "string", "example": "₹14,999.00" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI response generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "reply": { "type": "string", "example": "Hello Rohit! Your order #ORD-88219 has shipped via BlueDart." },
                    "session_id": { "type": "string", "example": "cust_sess_98210" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/business/conversations/{id}": {
      "get": {
        "summary": "Retrieve Customer Conversation",
        "description": "Fetches thread history and agent handover metadata for a conversation session.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Conversation history retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "example": "conv_8819" },
                    "messages": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
